<nav>
    <a href="/">Kezdőlap</a>

    {{#eq session.role 'admin' }}
        <a href="/event/create">Esemény létrehozása</a>
    {{/eq}}

    {{#if session.username }}
        <a href="/logout">Logout</a>
    {{else}}
        <a href="/register">Regisztráció</a>
        <a href="/login">Belépés</a>
    {{/if}}
</nav>
