<div class="wrapper">

    <h2>Rendezvény bevezetése</h2>

    {{>error_flash}}

    <form method="POST" action="/event/store" id="create-event-form">
        <div class="form-group">
            <label for="name">Rendezvény neve</label>
            <input type="text" name="name" id="name" required>
        </div>

        <div class="form-group">
            <label for="starting-date">Kezdési dátum</label>
            <input type="date" name="startingDate" id="starting-date" required>
        </div>

        <div class="form-group">
            <label for="ending-date">Befejezési dátum</label>
            <input type="date" name="endingDate" id="ending-date" required>
        </div>

        <div class="form-group">
            <label for="location">Helyszín</label>
            <input type="text" name="location" id="location" required>
        </div>

        <div class="spacer"></div>
        <input type="submit" value="Létrehoz" id="submit">
    </form>

</div>

<script src="/script.js"></script>
