<div class="wrapper">
    <h2>Rendezvények</h2>

    {{#each events}}
        <h3 class="event-name" data-id={{id}}>{{name}}</h3>
        <p>Kezdési dátum: {{startingDate}}</p>
        <p>Befejezési dátum: {{endingDate}}</p>
        <p>Helyszín: {{location}}</p>
        <a href="/event/{{id}}">További részletek...</a>
        <br>
        
        {{#if isOrganizer}}
            <input type="button" class="event-button" data-id="{{id}}" data-action="quit" 
                value="Kilépés">
        {{else if ../session.username}}
            <input type="button" class="event-button" data-id="{{id}}" data-action="join" 
                value="Csatlakozás">
        {{/if}}
    {{/each}}
</div>
<script src="/event_index.js"></script>
