<div class="wrapper">
    {{>error_flash}}

    <h2>{{event.name}}</h2>

    <p>Kezdési dátum: {{event.startingDate}}</p>
    <p>Befejezési dátum: {{event.endingDate}}</p>
    <p>Helyszín: {{event.location}}</p>
    <p>Szervezők: </p>
    <ul>
        {{#each event.users}}
            <li>{{fullName}}</li>
        {{/each}}
    </ul>

    <p>Képek: </p>
    <div class="gallery">
        {{#each event.images}}
            <img src="{{path}}" alt="Kép a {{name}}-ról/ről">
        {{/each}}
    </div>

    {{#if canUpload }}
        <h3 id="upload">Új fénykép feltöltése</h3>

        <form method="POST" action="/image/upload" enctype="multipart/form-data">

            <input type="hidden" name="eventId" value="{{event.id}}">
            <input type="hidden" name="userId" id="userId" value="{{session.userId}}">

            <div class="form-group">
                <label for="image">Kép</label>
                <input type="file" name="image" id="image" accept="image/*" required>
            </div>

            <div class="spacer"></div>
            <input type="submit" value="Feltöltés" id="submit">
        </form>
    {{/if}}

</div>
